.image-round {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  border: 5px solid #666;
  margin: auto;
  margin-top: 2vw;
}

.image-tiny {
  width: 20px;
  height: 20px;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  position:absolute;
  top:0px;
}

.jumbotron {
  background-color: #00A995;
  margin-top: 5px;
  margin-bottom:2vw;
}

.card-body {
  padding: 1vw;
}
